*{
    padding: 0;
    margin: 0;
}

.container{
    border: 1px solid black;
    
    
}

.col{
    border: 1px solid black;
    margin: 10px;
    background-color:white;
    text-align: justify;
}
main{
    display: flex;
}